
/* import fonts from fonts.css file*/ 
@import url(./fonts.css);

/* import css variables */
@import url(./partials/variables.css);

/* import global css variables */
@import url(./partials/global.css);



/* start navigation */
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 1rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 10rem;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--raleway);
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* end navigation */



/* start banner area */
.site-main .site-banner{
    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
    font-family: var(--raleway);
}

.site-main .site-banner .site-title h3{
    font-size: 3.5rem;
    padding-top: 15%;
    font-weight: 500;
}

.site-main .site-banner .site-title h1{
    font-size: 1.5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 10rem 0;
    width: 90rem;
}
/* end banner area */


/* Start about area */
.site-main .about-area{
    padding: 8rem 5rem;
    font: var(--raleway);
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/60px var(--raleway);
    letter-spacing: 5px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* end about area */



/* Start projects area */
.site-main .project-area{
    padding: 8rem 15rem;
    font-family: var(--raleway);
}
.site-main .project-area .project-title h2 > span{
    display: block;
    font: normal bold 49px/60px var(--raleway);
    letter-spacing: 5px;
}

.site-main .project-area .project-card .project-card-title{
    padding: 0.5rem;
    font: normal bold 18px/20px var(--raleway);
}

.site-main .project-area .project-card{
    padding: 1rem;
    border:1px solid var(--border-color);
    text-align:center;
    margin:.9rem 0;
    transition: transform 0.4s ease;
}
.site-main .project-area .project-card>img{
    filter:brightness(0.5);
}

.site-main .project-area .project-card:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .project-area .project-card:hover >img{
    filter:brightness(1);
}

/* end projects area */


/* Porfolio Area */
.site-main .portfolio-area .portfolio-title{
    padding: 0rem 15rem;
}

.site-main .portfolio-area .portfolio-title h1 > span{
    display: block;
    font: normal bold 49px/60px var(--raleway);
    letter-spacing: 5px;
}
.site-main .portfolio-area .carousel{
    padding: 0.5rem 15rem;
}

.site-main .portfolio-area .controls-top{
    text-align: center;
}

.site-main .portfolio-area .card:hover{
    filter:brightness(1.1) drop-shadow(1px 8px 30px #b1afa1);
}

@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }
/* End Porfolio Area */



/* Contact Area */
.site-main .contact-area{
    padding: 8rem 15rem;
}

.site-main .contact-area .contact-title h1 > span{
    display: block;
    font: normal bold 49px/60px var(--raleway);
    letter-spacing: 5px;
}

.site-main .contact-area .contact-list .contact:hover{
    color:var(--primary-color);
}

/* End Contact Area*/